.App {
    min-width: 60vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    width: 100%;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor:pointer;
}

.login-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.login-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.btn {
    width: 100%;
}

.menu-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.menu-item {
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.menu-item > li {
    padding: 20px;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border-bottom: 1px solid grey;
}

.search-box > input {
    border: none;
}

.ProductAll {
    display: flex;
}

.productCard {
    width: 19rem;
}

.productCard:hover {
    width: 20rem;
}

.productCard > img {
    width:100%;
    min-width: 50%;
}

.productDetail {
    height: 20vh;
    width: 50vw;
}


.product_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    text-align: center;
}

.product_info > img {
    min-width:10rem;
    width: 100%;
}

.product_info > div {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.product_info > div > button{
    width: 100%;
    margin-top: 2rem;
}

.login {
    width: 20rem;
}

.list-group {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 70%;
    background: #fff;
    padding: 40px 0;
    box-sizing: border-box;
    border-left: 1px solid #e1e1e1;
}

.toggle {
    display: none;
}

@media only screen and (max-width: 768px) {
    .menu-group {
        display: none;
    }
    &.open{
        .list-group{
            display: block;
        }
    }
    .login-btn {
        display: none;
    }
    .row > .product{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .toggle {
        width: 100%;
        display: flex;
        margin-left: 2.5rem;
    }
    .toggle-list {
        width: 50%;
        margin-left: -3rem;
    }
    .list-group-close{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .list-group-close > img {
        cursor: pointer;
        width: 1.5rem;
        margin: 0 0.5rem 0.5rem 0;
    }
}