.App {
    min-width: 60vw;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-img {
    display: flex;
    justify-content: center;
    align-items: center;

    cursor:pointer;
}

.login-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.login-btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.btn {
    width: 100%;
}

.menu-group {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
}

.menu-item {
    padding: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
}

.menu-item > li {
    padding: 20px;
}

.search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    border-bottom: 1px solid grey;
}

.search-box > input {
    border: none;
}

.ProductAll {
    display: flex;
}

.productCard {
    width: 19rem;
}

.productCard:hover {
    width: 22rem;
}

.productCard > img {
    width:100%;
    min-width: 50%;
}

.productDetail {
    height: 20vh;
    width: 50vw;
}


.product_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    text-align: center;
}

.product_info > img {
    max-width:25rem;
    width: 100%;
}

.product_info > div {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.product_info > div > button{
    width: 100%;
    margin-top: 2rem;
}

.login {
    width: 30%;
}
